/* Color palette
 *  source: https://color.adobe.com/de/Flat-UI-color-theme-2469224/
 */
$pickled-bluewood: #2C3E50;
$cinnabar: #E74C3C;
$porcelain: #ECF0F1;
$curious-blue: #3498DB;
$mariner: #2980B9;
$mine-shaft: #333333;

$color-shadow: rgba(black, .125);
$color-primary: $pickled-bluewood;
$color-accent: $cinnabar;
$color-background: $porcelain;
$color-background-shade: $curious-blue;
$color-background-invert: black;
$color-text: black;
$color-text-weak: $mine-shaft;
$color-text-strong: black;
$color-text-heading: $pickled-bluewood;
$color-text-invert: white;
$color-text-link: $mariner;
$color-text-link-visited: $cinnabar;
$color-text-link-hover: darken($cinnabar, 10%);
$color-border: black;
$input-radius: 4px;
$input-padding: 10px 16px;
$color-success: #4D9E4F;
$color-info: #14C7C4;
$color-warning: #DBB501;
$color-danger: $color-accent;

$font-size-extra-extra-extra-large: 3.157em;
$font-size-extra-extra-large: 2.369em;
$font-size-extra-large: 1.777em;
$font-size-large: 1.333em;
$font-size-medium: 1em;
$font-size-small: 0.75em;
$font-size-extra-small: 0.563em;

$font-weight-normal: 400;
$font-weight-bold: 700;

$rect-width: 142px;
$rect-height: 50px;

$logo-big-width: 300px;
$logo-medium-width: 180px;
$logo-xtrasmall-width: 90px;

/* Common elements */

body {
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  line-height: 1.45;
  margin: 0;
}

.link {
  color: $color-text-link;
  text-decoration: none;

  &:visited {
    color: $color-text-link-visited;
  }

  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline;
  }
}

.paragraph {
  margin: 1em 0;
}

/* Introduction */
.list--disc {
  list-style-type: disc;
  padding-left: 1em;
}

/* Classes */

.container {
  display: flex;
  padding: 0;
  width: 100%;
}

.container__nav {
  width: 25%;
}

.container__main {
  width: 75%;
  padding: 1.6666%;
}

.nav {
  width: 25%;
  border-radius: 0.2em;
  padding: 1.6666%;
  margin: 0 auto;
}

.link--external {
  &:after {
    font-family: 'FontAwesome';
    content: '\f08e';
    padding-left: 0.2em;
  }
}

/* Typography */
.font-size-xxxl {
  font-size: $font-size-extra-extra-extra-large;
}

.font-size-xxl {
  font-size: $font-size-extra-extra-large;
}

.font-size-xl {
  font-size: $font-size-extra-large;
}

.font-size-l {
  font-size: $font-size-extra-large;
}

.font-size-m {
  font-size: $font-size-medium;
}

.font-size-s {
  font-size: $font-size-small;
}

.font-size-xs {
  font-size: $font-size-extra-small;
}

.font-weight-normal {
  font-weight: $font-weight-normal;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.heading {
  color: $color-text-heading;
  font-family: 'Montserrat', sans-serif;
  text-indent: 0;
}

.heading--extra-large {
  font-size: $font-size-extra-extra-extra-large;
}

.heading--large {
  font-size: $font-size-extra-extra-large;
}

.heading--medium {
  font-size: $font-size-extra-large;
}

.heading--small {
  font-size: $font-size-large;
}

.panel--borderless {
  padding: 1.66666%;
  margin: 1.66666%;
}

.typeface__body {
  font-family: 'Open Sans', sans-serif;
}

.typeface__headings {
  font-family: 'Montserrat', sans-serif;
}

.glyph {
  font-size: $font-size-extra-extra-extra-large;
}

/* Logo */
.logo {
  min-width: 90px;
}

.logo--big,
.logo--min-clear-space {
  display: block;
  height: auto;
  width: $logo-big-width;
  margin: 0 auto;
}

button {
  &.download-logo {
    display: block;
    margin: 0 auto;
    margin-top: .5em;

    a {
      color: $porcelain;
      text-decoration: none;
    }
  }
}

.logo--medium {
  width: $logo-medium-width;
}

.logo--xtrasmall {
  display: block;
  width: $logo-xtrasmall-width;
  margin: 0 auto;
}

.logo--inpropper1 {
  height: $logo-big-width / 2;
  width: $logo-big-width;
}

.logo--inpropper2 {
  height: $logo-big-width / 2;
  width: $logo-big-width / 3;
}

/* Lists */
.list {
  list-style-position: outside;
  margin-bottom: 1em;
  padding-left: 2em;
}

.list--unordered {
  list-style-type: disc;
}

.list--ordered {
  list-style-type: decimal;
}

.list__item {
  margin: 0.25em 0;
  padding-left: 1em;
  text-indent: -1em;
}

/* Form Elements */
.form {
  margin: 10px 0;
  padding: 20px 25px 15px 25px;
  border-radius: 6px;
  background: $porcelain;
  width: 100%;
  box-sizing: border-box;
}

.form__flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 0;
}

.form__label {
  display: block;
  margin-bottom: 4px;
}

.form__float {
  flex: 1 1 auto;
  margin: 0 20px 15px 0;
  float: left;
}

.form__input {
  height: 34px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  border: 2px solid $mine-shaft;
  border-radius: $input-radius;
  padding-right: 20px;
  transition: all .25s ease;
  outline: none;

  &:focus {
    box-shadow: 0 0 5px $color-border;
    border: 1px solid $color-border;
  }
}

.form__group {
  display: block;
  width: 100%;
}

.form__input--focus {
  border: 2px solid $pickled-bluewood;
}

.form__input--required {
  background: url(../img/required2.png) no-repeat 97.5% #fff;
  outline: none;

  &:focus {
    box-shadow: 0 0 5px $color-border;
    border: 1px solid $color-border;
  }
}

.form__input--valid {
  border: 2px solid $curious-blue;
  background: url(../img/success.png) no-repeat 97.5% #fff;
  outline: none;

  &:focus {
    box-shadow: 0 0 5px $curious-blue;
    border: 1px solid $curious-blue;
  }
}

.form__input--invalid {
  border: 2px solid $cinnabar;
  background: url(../img/error.png) no-repeat 97.5% #fff;
  outline: none;

  &:focus {
    box-shadow: 0 0 5px $cinnabar;
    border: 1px solid $cinnabar;
  }
}


.form__textarea {
  appearance: none;
  box-sizing: border-box;
  border: 2px solid $mine-shaft;
  border-radius: $input-radius;
  font-family: inherit;
  font-size: 1em;
  display: inline-block;
  resize: vertical;
  outline: 0;
  width: 50%;
}

.form__checkbox--radio {
  display: none;

  &+::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 100%;
    margin-right: 6px;
    border: 1px solid $mine-shaft;
    transition: background .25s ease;
  }

  &:hover+::before, &:checked+::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $mine-shaft;
    background: $curious-blue;
  }

  &+label {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-right: 22px;
    color: $mine-shaft;
    font-weight: bold;
    transition: all .25s ease;
  }
}

/* Background Colors */
.bg-color {
  background-color: $color-background;
}

.bg-color--primary {
  background-color: $color-primary;
}

.bg-color--accent {
  background-color: $color-accent;
}

.bg-color--shade {
  background-color: $color-background-shade;
}

.bg-color--mariner {
  background-color: $mariner;
}

.bg-color--mine-shaft {
  background-color: $mine-shaft;
}

.text-color--inverted {
  color: $color-text-invert;
}

/* Panel */

.panel {
  padding: 1.66666%;
  margin: 1.66666%;
  border-radius: 0.2em;
  border: 1px solid black;
}

.panel--small {
  width: 30%;
}

.panel--medium {
  width: 60%;
}

.panel--large {
  width: 90%;
}

.panel--extra-large {
  width: 100%;
}

/* Buttons */
.btn {
  background: $color-background;
  border-radius: 0.2em;
  color: $color-text;
  font-size: 1.333em;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: solid $color-border 1px;
  text-decoration: none;
  outline-width: 0;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: darken($color-background,10%);
  color: $color-text;
  border: solid $color-border 1px;
  text-decoration: none;
  outline-width: 0;
  outline: none;
}

.btn--primary {
  background: $color-primary;
  border: solid darken($color-primary,10%) 1px;
  color: $color-background;
}

.btn--primary:hover {
  background: darken($color-primary,10%);
  border: solid darken($color-primary,20%) 1px;
  color: $color-background;
}

.btn--success {
  background: $color-success;
  border: solid darken($color-success,10%) 1px;
  color: $color-background;
}

.btn--success:hover {
  background: darken($color-success,10%);
  border: solid darken($color-success,20%) 1px;
  color: $color-background;
}

.btn--info {
  background: $color-info;
  border: solid darken($color-info,10%) 1px;
  color: $color-background;
}

.btn--info:hover {
  background: darken($color-info,10%);
  border: solid darken($color-info,20%) 1px;
  color: $color-background;
}

.btn--warning {
  background: $color-warning;
  border: solid darken($color-warning,10%) 1px;
  color: $color-background;
}

.btn--warning:hover {
  background: darken($color-warning,10%);
  border: solid darken($color-warning,20%) 1px;
  color: $color-background;
}

.btn--danger {
  background: $color-danger;
  border: solid darken($color-danger,10%) 1px;
  color: $color-background;
}

.btn--danger:hover {
  background: darken($color-danger,10%);
  border: solid darken($color-danger,20%) 1px;
  color: $color-background;
}

.btn--xs {
  font-size: 0.563em;
  padding: 0.5em 1em;
}

.btn--s {
  font-size: 0.75em;
  padding: 0.5em 1em;
}

.btn--m {
  font-size: 1em;
  padding: 0.5em 1em;
}

.btn--l {
  font-size: 1.333em;
  padding: 0.5em 1em;
}

.btn--xl {
  font-size: 1.777em;
  padding: 0.5em 1em;
}

.btn--xxl {
  font-size: 2.369em;
  padding: 0.5em 1em;
}

.btn--xxxl {
  font-size: 3.157em;
  padding: 0.5em 1em;
}

/* FLEX */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/* Sections */

.section {
  background-color: $color-background;
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 0.5em 0 1.5em 0;
}

/* Note */

.note {
  background-color: $color-background;
  border-radius: 0.2em;
  padding: 1em 1em 1em 2em;
  margin: 0.5em 0;
  text-indent: -1em;
  width: auto;
  &:before {
    color: $color-accent;
    font-size: 1.333em;
    content: 'Note';
    border-right: 1px solid $color-border;
    padding-right: 0.5em;
    margin-right: 0.5em;
  }
}



/* HELPER */

.fixed {
  position: fixed;
}
