/* Color palette
 *  source: https://color.adobe.com/de/Flat-UI-color-theme-2469224/
 */
$pickled-bluewood: #2C3E50;
$cinnabar: #E74C3C;
$porcelain: #ECF0F1;
$curious-blue: #3498DB;
$mariner: #2980B9;
$mine-shaft: #333333;

$color-shadow: rgba(black, .125);
$color-primary: $pickled-bluewood;
$color-accent: $cinnabar;
$color-background: $porcelain;
$color-background-shade: $curious-blue;
$color-background-invert: black;
$color-text: black;
$color-text-weak: $mine-shaft;
$color-text-strong: black;
$color-text-heading: $pickled-bluewood;
$color-text-invert: black;
$color-text-link: $mariner;
$color-text-link-visited: $cinnabar;
$color-text-link-hover: darken($cinnabar, 10%);
$color-border: black;
$color-success: #4D9E4F;
$color-info: #14C7C4;
$color-warning: #DBB501;
$color-danger: $color-accent;

$font-size-extra-extra-extra-large: 3.157em;
$font-size-extra-extra-large: 2.369em;
$font-size-extra-large: 1.777em;
$font-size-large: 1.333em;
$font-size-medium: 1em;
$font-size-small: 0.75em;
$font-size-extra-small: 0.563em;

$rect-size: 100px;

$logo-big: 300px;
$logo-xtrasmall: 90px;

/* Common elements */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: $color-text;
}

.link {
    text-decoration: none;
    color: $color-text-link;
    &:visited {
        color: $color-text-link-visited;
    }
    &:hover {
        color: $color-text-link-hover;
        text-decoration: underline;
    }
}

/* Introduction */
.list--disc {
  list-style-type: disc;
  padding-left: 1em;
}

/* Classes */

.container {
    display: -webkit-flex;
    display: flex;
    padding: 1.6666%;
    width: 100%;
}

.container__nav{
  width: 25%;
}

.container__main{
  width: 75%;
  padding: 1.6666%;
}

.nav{
  width: 25%;
  border-radius: 0.2em;
  padding: 1.6666%;
  margin: 0 auto;
}

.link_external {
  &:after {
    font-family: FontAwesome;
    content: "\f08e";
    padding-left: 0.2em;
  }
}

/* Typography */
.font-size-xxxl {
  font-size: $font-size-extra-extra-extra-large;
}

.font-size-xxl {
  font-size: $font-size-extra-extra-large;
}

.font-size-xl {
  font-size: $font-size-extra-large;
}

.font-size-l {
  font-size: $font-size-extra-large;
}

.font-size-m {
  font-size: $font-size-medium;
}

.font-size-s {
  font-size: $font-size-small;
}

.font-size-xs {
  font-size: $font-size-extra-small;
}

.heading {
  color: $color-text-heading;
  font-family: 'Montserrat', sans-serif;
}

.heading--extra-large {
  font-size: $font-size-extra-extra-extra-large;
}

.heading--large {
  font-size: $font-size-extra-extra-large;
}

.heading--medium {
  font-size: $font-size-extra-large;
}

.heading--small {
  font-size: $font-size-large;
}

.typeface-body {
  font-family: 'Open Sans', sans-serif;
}

.typeface-headings {
  font-family: 'Montserrat', sans-serif;
}

.glyph {
  font-size: $font-size-extra-extra-extra-large;
}

/* Logo */
.logo--big,
.logo--minClearSpace {
  display: block;
  height: auto;
  width: $logo-big;
}

.logo--xtrasmall {
  width: $logo-xtrasmall;
}

.flex-container.logo--colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.div--rect  {
  margin-right: 1em;
  width: 142px;
}

.rect {
  height: $rect-size;
  text-align: center;
  width: $rect-size;
}

.rect--pickled-bluewood {
  background: $pickled-bluewood;
}

.rect--curious-blue {
  background: $curious-blue;
}

.rect--cinnabar {
  background: $cinnabar;
}

.logo--inpropper1 {
  height: $logo-big / 2;
  width: $logo-big;
}

.logo--inpropper2 {
  height: $logo-big / 2;
  width: $logo-big / 3;
}

/* Lists */
.list {
  list-style-position: outside;
  padding-left: 2em;
}

.list--unordered {
  list-style-type: disc;
}

.list--ordered {
  list-style-type: decimal;
}

.list__item {
  margin: 0.25em 0;
  padding-left: 1em;
  text-indent: -1em;
}

/* Background Colors */
.bg-color {
  background-color: $color-background;
}

.bg-color--primary {
  background-color: $color-primary;
}

.bg-color--accent {
  background-color: $color-accent;
}

.bg-color--shade {
  background-color: $color-background-shade;
}

.bg-color--mariner {
  background-color: $mariner;
}

.bg-color--mine-shaft {
  background-color: $mine-shaft;
}

/* Panel */

.panel{
  padding: 1.66666%;
  margin: 1.66666%;
  border-radius: 0.2em;
  border: 1px solid black;
}
/* TODO: Proposal: We could move the border stuff from panel to 
 * panel--border, so we can have panels without borders as well.
 */
.panel--border {
  border-radius: 0.2em;
  border: 1px solid black;
}

.panel--small{
  width: 30%;
}

.panel--medium{
  width: 60%;
}

.panel--large{
  width: 90%;
}

/* Buttons */
.btn {
  background: $color-background;
  border-radius: 0.2em;
  color: $color-text;
  font-size: 1.333em;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: solid $color-border 1px;
  text-decoration: none;
  outline-width: 0px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: darken($color-background,10%);
  color: $color-text;
  border: solid $color-border 1px;
  text-decoration: none;
  outline-width: 0px;
  outline: none;
}

.btn--primary {
  background: $color-primary;
  border: solid darken($color-primary,10%) 1px;
  color: $color-background;
}

.btn--primary:hover {
  background: darken($color-primary,10%);
  border: solid darken($color-primary,20%) 1px;
  color: $color-background;
}

.btn--success {
  background: $color-success;
  border: solid darken($color-success,10%) 1px;
  color: $color-background;
}

.btn--success:hover {
  background: darken($color-success,10%);
  border: solid darken($color-success,20%) 1px;
  color: $color-background;
}

.btn--info {
  background: $color-info;
  border: solid darken($color-info,10%) 1px;
  color: $color-background;
}

.btn--info:hover {
  background: darken($color-info,10%);
  border: solid darken($color-info,20%) 1px;
  color: $color-background;
}

.btn--warning {
  background: $color-warning;
  border: solid darken($color-warning,10%) 1px;
  color: $color-background;
}

.btn--warning:hover {
  background: darken($color-warning,10%);
  border: solid darken($color-warning,20%) 1px;
  color: $color-background;
}

.btn--danger {
  background: $color-danger;
  border: solid darken($color-danger,10%) 1px;
  color: $color-background;
}

.btn--danger:hover {
  background: darken($color-danger,10%);
  border: solid darken($color-danger,20%) 1px;
  color: $color-background;
}

.btn--xs{
  font-size: 0.563em;
  padding: 0.5em 1em;
}
.btn--s{
  font-size: 0.75em;
  padding: 0.5em 1em;
}
.btn--m{
  font-size: 1em;
  padding: 0.5em 1em;
}
.btn--l{
  font-size: 1.333em;
  padding: 0.5em 1em;
}
.btn--xl{
  font-size: 1.777em;
  padding: 0.5em 1em;
}
.btn--xxl{
  font-size: 2.369em;
  padding: 0.5em 1em;
}
.btn--xxxl{
  font-size: 3.157em;
  padding: 0.5em 1em;
}

/* FLEX */

.flex-container{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.flex-container__item{
}

/* Sections */

.section {
  background-color: $color-background;
  border-radius: 0.2em;
  padding: 0.5em;
}

/* Note */

.note {
  background-color: $color-background;
  border-radius: 0.2em;
  padding: 1em;
  margin: 0.5em 0;
  width: auto;
  &:before {
    color: $color-accent;
    font-size: 1.333em;
    content: "Note";
    border-right: 1px solid $color-border;
    padding-right: 0.5em;
    margin-right: 0.5em;
  }
}

/* HELPER */

.fixed {
  position: fixed;
}
